<h1 class="mb-3">{{title}}</h1>

<div class="my-2">
    {{!-- form for burger --}}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="enter burger name" id="burger-name-input">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="submit-burger-button" type="button">Add Burger</button>
        </div>
    </div>

    {{!-- form for customer--}}

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="enter customer name" id="customer-name-input">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="submit-customer-button" type="button">Add Customer</button>
        </div>
    </div>
</div>

{{!-- selection for customer name --}}
<div class="form-group form-row" id="customer-selection">
    <div class="col-2">
        <label for="inlineFormCustomSelect">Who's Eating?</label>
    </div>
    <div class="col-3">
        <select class="custom-select" id="customer">
            {{#each customers}}
            <option value={{id}}>
                {{customer_name}}
            </option>
            {{/each}}
        </select>
    </div>
</div>

{{!-- burgers eaten --}}
<ul class="list-group">
    <div class="row">
        {{#each burgers}}
        {{#if devoured}}
        <li class="list-group-item d-flex justify-content-between align-items-center col-6">
        </li>
        <li class=" list-group-item d-flex justify-content-between align-items-center col-6" id="{{id}}">
            <p class="text-right">{{burger_name}}</p>
            <button class="btn btn-danger delete-button" data="{{id}}">Delete</button>
        </li>
        {{else}}

        <li class="list-group-item d-flex justify-content-between align-items-center col-6">
            <p>{{burger_name}}</p>
            <button class="btn btn-outline-danger devour-button" type="button" id="{{id}}">Devour It</button>
        </li>

        <li class=" list-group-item d-flex justify-content-between align-items-center col-6" id="{{id}}">
            <p class="text-right"></p>
        </li>
        {{/if}}
        {{/each}}
    </div>
</ul>


{{!-- jQuery CDN --}}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

{{!-- axios CDN --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

{{!-- scripts --}}
<script src="/assets/scripts/scripts.js"></script>